/* Popup Lists */
.popup-list-title{
    color: white;
  }
  
  .list-container {
    display: flex;
    flex-direction: column;
  }
  
  .list-item-wrapper {
    display: flex;
    align-items: center;
    border-color: rgb(127, 127, 127);
    border-style: double;
    padding: 0.5rem;
    border-width: 0.1rem;
  }
  
  .use-popup-btn {
    background-color: #7289da; 
    color: white;
    text-align: center;
    font-size: 1rem; 
    padding: 0.5rem 0.5rem;
    border-radius: 0.375rem; 
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem; 
    transition: background-color 0.75s ease;
  }
  
  .use-popup-btn:hover {
    background-color: #4e5d94;
  }
  
  .popup-info{
    font-size: 1.1rem;
    color: white;
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
  
  .trigger-desc {
    margin-left: auto; /* Pushes the "trigger-info" to the right */
  }
  
  .action-info-wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .action-effect{
    margin-right: auto;
  }
  
  .action-desc{
    margin-right: auto;
  }

/* Form Inputs */
  .form-spacing{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1rem; /* Optional: Adjust the margin as needed */
  }

  .form-label{
    text-align: left;
  }

  .input-group-text{
    background-color: rgb(178, 190, 234) !important;
  }

  .form-control{
    background-color: #cee2f0 !important;
    border: #99aab5 !important;
  }

  /* Variable */
.variable-field-combine{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-variable-button{
  margin-left: 5rem;
  margin-right: 3rem;
  padding: 0.4rem;
  height: fit-content;
  background-color: rgb(254, 136, 136);
  color: white;
  border-radius: 0.5rem;
  border: rgb(254, 136, 136);
}

.var-btn{
  margin-top: 1rem;
}

/* TopBar */
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 2rem;
  font-size: 1.1rem;
}

.command-chain{
  color: rgb(234, 234, 234);
}

.form-check-input:checked {
  background-color: #516ed7 !important;
}

.form-check-label {
  color: white;
}

.del-cmd-btn {
  background-color: rgb(254, 136, 136);
  color: white;
  border-radius: 0.5rem;
  border: rgb(254, 136, 136);
  padding: 0.5rem;
  font-size: medium;
}

/* BotForm */
.form-container {
  padding: 10px;
  margin: 0;
  width: 100%;
  background: #4b5057;

  /* Accordion */
  .accordion-body{
    padding: 0 !important;
    padding-bottom: 0.5rem !important;
  }
  
  .flow-arrow{
    color: #a7a9af;
  }

  .accordion-item{
    background-color: #7289da;
    border: #8fa3ed
  }
  
  .accordion-button{
    background-color: #7289da;
    color: white;
  }

  .accordion-button:not(.collapsed){
    background-color: rgb(178, 190, 234);
  }
}